{%include "master.html"%}
<p class = "indexbody"> 
Welcome to Book Bay. Are you looking for books to buy? 
Are you selling books? Well, in Book Bay, you can do just that!
Join Book Bay <a href = "adduser/">here</a>.
The sooner you join, the sooner we can make you smile!.. So do it now.  
</p>

<p class = "indexbody">
Already a member? click the button on the top right corner of the
 web page to sign in... or <a href = "login/">Click Here!</a>.
</p>


We need to add top users, top books, and fix the after sale.
<br>
<br>
<br>
<H3> For Testing Purposes  </H3>

<a href ="login/"> Click Here For Login Page </a>
<br />
<a href ="adduser/"> Click Here To Sign Up Page </a>
<br />
<a href ="logout/"> Click Here To Logout </a>

</div>